.blog-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogs-header {
  height: 200px;
  background: #334c87;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.blogs-cards-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blogcard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 40%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blogcard-image img {
  min-height: 150px;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.blogcard-content {
  padding: 16px;
  text-align: start;
  background-color: #fff;
}

.blogcard-category {
  font-size: 14px;
  color: #555;
  margin: 0;
  text-transform: uppercase;
}

.blogcard-date {
  font-size: 12px;
  color: #888;
  margin: 4px 0;
}

.blogcard-title {
  font-size: 18px;
  color: #333;
  margin: 8px 0 12px;
}

.blogcard-link {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.blogcard-link:hover {
  text-decoration: underline;
}

/* General section styling */
.blog-detail-subtitle-section {
  display: flex;
  gap: 20px;
  width: 90%;
}
.blog-detail-subtitle-section.right {
  flex-direction: row-reverse;
}

/* Left side image */
.blog-detail-subtitle-section.left {
  flex-direction: row;
}

.blog-detail-subtitle-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 10px;
  text-align: start;
}

.blog-detail-subtitle-title {
  font-size: 2rem;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 10px;
}

.blog-detail-para {
  font-size: 18px;
}

.blog-detail-image-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-detail-image {
  background-size: cover;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  max-height: 500px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .blog-detail-subtitle-section {
    flex-direction: column;
    align-items: center;
  }

  .blog-detail-subtitle-content {
    width: 100%;
    padding-left: 0;
  }

  .blog-detail-subtitle-title {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .blog-detail-para {
    font-size: 16px;
  }

  .blog-detail-image-container {
    width: 100%;
  }

  .blog-detail-image {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .blog-detail-subtitle-section {
    flex-direction: column;
  }

  .blog-detail-subtitle-section.left,
  .blog-detail-subtitle-section.right {
    flex-direction: column;
  }
  .blog-detail-subtitle-title {
    font-size: 1.125rem;
  }

  .blog-detail-subtitle-content {
    order: 1;
  }
  .blog-detail-image-container {
    order: 0;
  }
}

@media (max-width: 768px) {
  .blog-detail-subtitle-title {
    font-size: 20px;
  }

  .blog-detail-subtitle-section {
    flex-direction: column;
  }

  .blog-detail-subtitle-section.left,
  .blog-detail-subtitle-section.right {
    flex-direction: column;
  }
  .blog-detail-subtitle-title {
    font-size: 1.125rem;
  }

  .blog-detail-subtitle-content {
    order: 1;
  }
  .blog-detail-image-container {
    order: 0;
  }
}

@media (max-width: 480px) {
  .blog-detail-subtitle-title {
    font-size: 20px;
    margin: 0px;
  }

  .blog-detail-para {
    margin: 5px 0px;
  }

  .blog-detail-subtitle-section {
    flex-direction: column;
    gap: 5px;
  }

  .blog-detail-subtitle-section.left,
  .blog-detail-subtitle-section.right {
    flex-direction: column;
  }

  .blog-detail-subtitle-content {
    order: 1;
  }
  .blog-detail-image-container {
    order: 0;
  }
}
