.service-page-container {
  padding: 0px 40px;
  background-color: #eef7fa;
  display: flex;
  flex-direction: column;
}

.service-page-content {
  text-align: center;
  font-size: 25px;
}

.service-page-subtitle {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-page-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.service-page-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.service-page-btn {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service-page-btn:hover {
  background-color: #0056b3;
}

.service-page-cards {
  display: flex;
  gap: 20px;
  max-width: 100%;
  padding: 10px;
}

.service-page-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-page-card-image {
  width: 100%;
  border-radius: 10px;
  max-height: 250px;
  object-fit: cover;
}

.service-page-card-content {
  text-align: start;
}
.service-page-card-title {
  font-size: 1.5rem;
}

.service-page-card-description {
  font-size: 16px;
  color: #555;
}

.service-page-card-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.service-page-card-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 990px) {
  .service-page-container {
    padding: 0px 30px;
  }

  .service-page-title {
    font-size: 2.6rem;
    font-weight: bold;
    /* margin-bottom: 1px; */
    margin: 5px;
  }
  .service-page-cards {
    max-width: 48%;
  }

  .service-page-card-image {
    /* width: 160px; */
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  .service-page-card {
    flex-direction: column;
    height: max-content;
  }

  .service-page-card-title {
    margin: 5px;
  }
  .service-page-card-description {
    margin: 5px;
  }
}

@media screen and (max-width: 768px) {
  .service-page-title {
    font-size: 2.5rem;
  }

  .service-page-card {
    flex-direction: row;
  }
  .service-page-description {
    font-size: 1rem;
  }
  .service-page-container {
    width: 100%;
    flex-direction: column;
    padding: 20px 50px;
  }

  .service-page-content {
    max-width: 98%;
  }

  .service-page-cards {
    max-width: 98%;
    height: max-content;
  }
  .service-page-btn {
    padding: 12px 24px;
  }

  .service-page-card-image {
    height: 300px;
    width: 50%;
  }
  .service-page-card-content {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .service-page-title {
    font-size: 2rem;
  }

  .service-page-description {
    font-size: 0.9rem;
  }

  .service-page-btn {
    padding: 10px 20px;
  }

  .service-page-card {
    flex-direction: column;
    height: max-content;
  }

  .service-page-card-image {
    height: 300px;
    width: 100%;
  }
  .service-page-card-content {
    width: 100%;
  }
}
