.service-view-detail-page-container {
  margin: 0 auto;
  padding-top: 80px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px #0000001a;
}

.service-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #3b77d2;
}

.service-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.service-image {
  display: flex;
  justify-content: center;
  padding: 30px 70px;
  align-items: center;
}
.service-img {
  width: 100%; /* Image scales to the width of the container */
  height: auto; /* Maintain aspect ratio */
  aspect-ratio: 895 / 414; /* Maintain 895:414 aspect ratio */
  max-width: 2000px; /* Prevent image from exceeding intrinsic width */
  border-radius: 10px; /* Rounded corners */

  object-fit: cover; /* Crop to cover the area */
  object-position: center; /* Center the image */
}

.service-description {
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: start;
  padding: 0px 70px;
}

.service-subtitles {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 70px;
}
.service-subtitle-section {
  display: flex;
  gap: 20px;
  width: 90%;
}
.service-subtitle-section.right {
  flex-direction: row-reverse;
}

/* Left side image */
.service-subtitle-section.left {
  flex-direction: row;
}

.service-subtitle-content {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.service-subtitle-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 10px;
}

.subtitle-image-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle-image {
  background-size: cover;
  width: 90%;
  border-radius: 10px;
  height: auto;
}

.service-subtitle-content {
  padding-left: 20px;
}

.service-subtitle-content-item {
  margin-bottom: 8px;
  font-size: 1rem;
}
