/* Footer.css */
.footer-container {
  background-color: #f4f7fa;
  color: black;
  padding: 20px 10px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  width: 80px;
  height: auto;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon {
  background-color: white;
  color: #0056b3;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer-facebook:hover {
  color: #3b5998; /* Facebook blue */
  transform: scale(1.1); /* Slight zoom effect */
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-instagram:hover {
  color: #e4405f; /* Instagram pink */
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-whatsapp:hover {
  color: #25d366; /* WhatsApp green */
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-youtube:hover {
  color: #ff0000; /* YouTube red */
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-linkedin:hover {
  color: #0077b5; /* LinkedIn blue */
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Responsive Styles */

@media (max-width: 990px) {
  .footer-container {
    padding: 20px 50px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 10px;
  }
}
